.btn {
  background-color: $navy;
  font-family: $swaggy-font;
}

.border {
  display: inline-block;
  @include breakpoint('tiny') {
    width: 10px;
  }
}

.modal {
  background-color: $navy;
}

.modal-body,
.modal-header {
  background-color: $aqua;
}

.form-control {
  background: $navy;
}

.main {
  display: none;
}

.main-page {
  height: 150px;
  margin: 60px;
  width: 500px;
}

.sign-in-success,
.complete {
  height: 100px;
  margin: 20px;
  width: 400px;
  @include breakpoint('tiny') {
    height: 50px;
    margin-right: 200px;
    width: 200px;
  }
}

#playerOne {
  text-align: left;
}

#playerTwo {
  text-align: right;
}

p {
  margin: 10px;
}

body {
  background-color: $aqua;
  color: $red;
  margin: auto;
  text-align: center;
  @include breakpoint('tiny') {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .new-game {
    left: 46%;
    padding: 10px;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
  }

  .out {
    left: 46%;
    padding: 10px;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  .change {
    left: 46%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .complete {
    left: 46%;
    padding: 10px;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 320px) {
  .new-game {
    top: 45%;
  }

  .out {
    top: 75%;
  }

  .change {
    top: 60%;
  }

  .complete {
    top: 90%;
  }
}

header {
  background: $navy;
  height: 100px;
  margin: 5px;
  @include breakpoint('tiny') {
    max-width: 100%;
    padding: 5px;
  }
}



table {
  border-collapse: collapse;
  margin: auto;
}


td {
  border: 10px ridge $navy;
  height: 125px;
  width: 125px;
  @include breakpoint('tiny') {
    height: 75px;
    width: 75px;
  }
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}
